body{
    margin: 0;
    padding: 0;
    background: black;
}
div{
    height: 20rem;
    width: 20rem;
    display: inline-block;
    margin: -2px;
    padding: 0;
    resize: both;
    overflow: auto;
    min-width: 20rem;
    min-height:20rem;
    max-width: 25rem;
    max-height: 25rem;
    /* border: 1px solid black; */
}
.square1{
    background: linear-gradient(to bottom right,black,red 50%,blue 50%, black);
}
.square2{
    background: linear-gradient(to bottom left,black,red 50%,blue 50%, black);
}

.square3{
    background: linear-gradient(to top right,black,red 50%,blue 50%, black);
}
.square4{
    background: linear-gradient(to top left,black,red 50%,blue 50%, black);
}
button {
    font-size: 2rem;
    background: cyan;
    border-color: cyan;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}
button:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}
@media screen and (max-width:768px) and (min-width:409px){
    body{
        background : red;
    }
}